* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}
body {
    font-family: "나눔고딕", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer {
    font-family: 'sriracha', cursive;
}

footer {
    width: 100%;
    margin: 0 auto;
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
